*{
    box-sizing: border-box;
}

@font-face {
    font-family: myFirstFont;
    src: url(Sketchzone.otf);
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #E2D1F9;
}

label{
    font-family: myFirstFont;
}


.header{
    height: 150px;
    width: auto;
    border:solid 2px #f4b19d;
    margin: 25px;
    background-color: #b2586f;
    display: flex;
    justify-content: center;
    border-radius: 3%;
    
    
    
}
.header>h1{
    /* color: #f4b19d; */
    align-self: center;
    font-family: myFirstFont;
    font-size: 75px;
}

.main-container{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin: 25px;
    align-self: center;
}

.grid-container{
    border: solid 1px #f4b19d;
    display: flex;
    flex-wrap: wrap;
    max-height: 512px;
    max-width: 514px;
    background-color: white;
}

.controls-container{
    border: solid 3px #f4b19d;
    border-radius: 3%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    height: 512px;
    margin-right: 25px;
    background-color: #b2586f;
    
}

.using{
    background-color: #E2D1F9;
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
      
}

.big{
    width: 32px;
    height: 32px;
}

.medium{
    width: 16px;
    height: 16px;
}

.small{
    width: 8px;
    height:8px;
}


.grid{
    border: solid 1px black;
}

.white{
    background-color: white;
}

.eraser-cursor{
    cursor:url(images/cursor.cur),auto;
}

#colourChoice{
    margin-top: 5px;
}