*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: beige;
}



.header{
    height: 150px;
    width: auto;
    border:solid 1px black;
    margin: 25px;
}

.main-container{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin: 25px;
    align-self: center;
}

.grid-container{
    border: solid 1px rgb(35, 167, 138);
    display: flex;
    flex-wrap: wrap;
    max-height: 512px;
    max-width: 514px;
    background-color: white;
}

.controls-container{
    border: solid 3px rgb(35, 167, 138);
    border-radius: 3%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    height: 512px;
    margin-right: 25px;
    background-color: white;
    
}


.big{
    width: 32px;
    height: 32px;
}

.medium{
    width: 16px;
    height: 16px;
}

.small{
    width: 8px;
    height:8px;
}

.black  {
    background-color: black;
}

.grid{
    border: solid 1px black;
}

.white{
    background-color: white;
}

.eraser-cursor{
    cursor:url(images/cursor.cur),auto;
}
